@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'material-symbols';
@import '../styles/forms/calibration-modal.scss';
@import '../styles/components/block-card/block-card.scss';
@import '../styles/components/community/_community.scss';
html,
body {
  @apply h-full;
}

.material-filled {
  font-variation-settings: 'FILL' 1;
}

.material-font-size {
  &-xs {
    @apply text-xs;
  }
  &-lg {
    @apply text-lg;
  }
  &-2xl {
    @apply text-2xl;
  }
  &-9xl {
    @apply text-9xl;
  }
}

.blue-btn {
  background-color: #236bfe;
  color: #ffffff;
  padding: 5px 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  border-radius: 5px;
}
