.sun-path {
    margin-top: 10px;
  }
  
  .path-background,
  .path-sun {
    fill: none;
    transition: stroke-dashoffset 1s linear;
  }
  
  .path-sun {
    stroke: orange;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
  
  .donut-container {
    width: 100%;
    position: relative;
    height: 15rem; /* Maintain a square aspect ratio */
    max-width: 20rem; /* Set the maximum width of the donut */
  }
  
  .half-donut {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
  }
  
  .sunrise-time,
  .sunset-time {
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }
  