.block-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 200px;
}

.block-card-subtitle {
    color: #a6a6a6;
    font-size: 14px;
    margin-bottom: 10px;
}

.block-card-info {
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 10px;
}

.block-card-small-text {
    color: #f4c430;
    font-size: 16px;
}
